.person {
	background-color: #292929;
	border-radius: 31px;
}

.person__image {
	max-width: 385px;
}

.person__info {
	padding: 10px 20px;
}

.person__name {
	font-size: 36px;
}

.person__job {
	font-size: 36px;
}

.person__experience {
	font-size: 36px;
}
