#root {
	background-image: url('/src/images/mainBg.png'); /* Укажите путь к вашему изображению */

	background-size: cover; /* Это позволяет изображению занимать весь доступный объем */

	background-position: center; /* Центрирует изображение */

	background-repeat: no-repeat; /* Запрещает повторение изображения */

	background-attachment: scroll; /* Позволяет изображению прокручиваться с содержимым */

	height: 100vh; /* Устанавливает фиксированную высоту в 100% от высоты видимой области */

	width: 100%; /* Устанавливает ширину в 100% от ширины области */

	overflow: scroll; /* Скрывает контент, выходящий за пределы */
}
