* {
	padding: 0px;
	margin: 0px;
	border: none;
}

:root {
	font-family: 'Bro', sans-serif;
	color: rgb(255, 255, 255);
}

a,
li,
button {
	text-decoration: none;
	list-style: none;
	background: none;
}
.link {
	list-style: none;
}

.container {
	max-width: 1300px;
	padding: 0 20px;
	margin: 0 auto;
}
